.aboutme-container {
  padding-top: 6%;
  padding-left: 10%;
  padding-right: 10%;
}

.contact-btn {
  background-color: #e42b63;
  border: none;
  color: white;
  margin-bottom: 10px;
  padding: 16px 28px;
  text-align: center;
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.contact-btn:hover {
  background-color: #c62b59;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
