/* .card-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 220px;
} */

.card-container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.info-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-container:hover .image {
  opacity: 0.3;
  mix-blend-mode: multiply;
}

.card-container:hover .info-container {
  opacity: 1;
  cursor: pointer;
}

.info {
  color: #ffffff;
  padding: 16px 32px;
  opacity: 1;
}

.btn-more {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease-in-out;
  font-size: 50px;
  color: #e42b63;
  text-align: center;
  line-height: 42px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.btn-more-cont {
  display: flex;
  justify-content: center;
}