.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills {
  margin-top: 1rem;
  color: #e42b63;
}

.skills-title {
  margin-top: 35px;
  margin-bottom: 8px;
}