* {
  font-family: 'Raleway', sans-serif;
}

.main {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 36%
    1fr;
  grid-template-areas: "aboutme"
    "portfolio"
}

.aboutme {
  grid-area: aboutme;
  color: #3f4141;
}

.portfolio {
  grid-area: portfolio;
  background-color: #c62b59;
}

@media only screen and (min-width: 600px){
  .main {
    grid-template-columns: 50% 64%;
    grid-template-rows: 100%;
    grid-template-areas: "aboutme portfolio"
  }
}

@media only screen and (min-width: 1440px){
  .main {
    grid-template-columns: 50% 72%;
    grid-template-rows: 100%;
    grid-template-areas: "aboutme portfolio"
  }
}